.nav-bar{
    background-color: var(--bg-color);
    border-top: var(--bg-color) 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color: var(--text);
}

.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 5px;
    font-size: 1.1em;
    
}

.logo-box{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-box p{
    font-size: 1.4em;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}